{% extends 'generic/object.html' %}
{% load humanize %}
{% load helpers %}
{% load plugins %}

{% block content %}
<div class="row">
  <div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">EIGRP Details</h5>
      <div class="card-body">
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">Router</th>
            <td>
              {{ object.router }}
            </td>
          </tr>
          <tr>
            <th scope="row">VRF</th>
            <td>
              {{ object.vrf }}
            </td>
          </tr>
          <tr>
            <th scope="row">Family</th>
            <td>
              {{ object.family }}
            </td>
          </tr>
          <tr>
            <th scope="row">Router ID</th>
            <td>
              {% if object.rid %}{{ object.rid }}{% else %}{{ object.router.rid}}{% endif %}
            </td>
          </tr>
        </table>
      </div>
    </div>
      {% plugin_left_page object %}
  </div>
  <div class="col col-md-6">
    {% include 'inc/panels/related_objects.html' %}
    {% include 'inc/panels/custom_fields.html' %}
    {% include 'inc/panels/comments.html' %}
    {% include 'inc/panels/tags.html' %}
    {% plugin_right_page object %}
  </div>
</div>
<div class="row">
    <div class="col col-md-12">
        {% plugin_full_width_page object %}
    </div>
</div>
{% endblock %}