name: Auto approve
on:
  pull_request_target:
    types:
      - opened
      - auto_merge_enabled
      - auto_merge_disabled
      - assigned
      - unassigned
      - reopened
    branches:
      - "main"

jobs:
  auto-approve:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    if: github.actor == 'dansheps'
    steps:
      - uses: hmarr/auto-approve-action@v4